@font-face {
    font-family: Cadiz;
    src: url('../assets/fonts/cadiz/CadizWeb-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Cadiz;
    src: url('../assets/fonts/cadiz/CadizWeb-RegularItalic.woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Cadiz;
    src: url('../assets/fonts/cadiz/CadizWeb-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Value;
    src: url('../assets/fonts/value/value-serif.ttf');
    font-weight: 400;
    font-style: normal;
}
