$footer-padding: percentage(211/1280);

.footer-sections {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: baselines(14) $footer-padding;
}

.footer-section {
    width: 30%;
    margin-right: 3%;
}

.footer-section__heading {
    font-size: font-size(footer-heading);
    font-family: Value, serif;
    line-height: leading(footer-text);
}

.sitemap {
}

.sitemap__item {
    display: block;
}

.sitemap__link {
    font-size: font-size(footer-text);
    line-height: leading(footer-text);
}
