@import '../../node_modules/reset-css/_reset.scss';
@import '_fonts.scss';
@import '_vars.scss';
@import '_mixins.scss';
@import '_functions.scss';

body {
    @include background-texture;
    background-color: colour(body);
    color: colour(white);
    font-family: Cadiz;
    font-size: font-size(p);
    line-height: leading(p);
}

a {
    color: colour(white);
    text-decoration: none;
}
